.profile-list-container {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0.5rem 0;
}

.profile-list-item {
  width: 90%;
  margin: auto 2rem;
  display: flex;
  justify-content: space-between;
}

.profile-name {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width: 10%;
}

.skill-summaries {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  width: 60%;
}

.profile-list-card {
  width: 95%;
}

.profile-list-card:hover {
  cursor: pointer;
}
